*~
#*
Startup
agelog
agelogs
connutil.o
console
locbrok
locbrok.o
misc.o
rtty
rtty.o
rtty.shar
startsrv
ttyprot.o
ttysrv
ttysrv.o
version.c
version.o
.deps
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
depcomp
install-sh
missing
